.signup {
	img {
		position: absolute;
		left: -5vw;
		top: -9vh;
		width: 30vw;
		height: 30vh;
	}
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Quicksand";
	h1 {
		text-transform: uppercase;
		letter-spacing: 10px;
		margin-top: 10vh;
		margin-bottom: 5vh;
		font-size: 48px;
		color: #ffffff;
	}
	h2 {
		color: white;
		font-size: 36px;
		letter-spacing: 4px;

		margin-bottom: 5vh;
	}

	form {
		h1 {
			color: black;
			font-size: 22px;
			margin-top: 7vh;
			margin-bottom: 3vh;
		}
		display: flex;
		flex-direction: column;
		height: 400px;
		width: 550px;
		border-radius: 12px;
		background-color: #ffffff;
		align-items: center;
	}
	input {
		outline: none;
		border: none;
		border-bottom: 2px solid #000000;
		margin: 2vh;
		width: 25vw;
		height: 4vh;
		color: black;
		font-size: 16px;
	}
	button {
		display: inline-flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		cursor: pointer;
		border: none;
		background-color: rgb(35, 35, 189);
		color: white;
		border-radius: 12px;
		height: 7vh;
		width: 7vw;
		font-size: 16px;
		margin-top: 2vh;
		margin-left: 30vw;
		span {
			font-size: 16px;
		}
	}
}
